.box {
  border: 2px solid #1f3763;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  font-weight: 300;
  margin: 10px 0;
  position: relative;
}
.non-Complient {
  background: orange;
}

.assured {
  background: green;
}

.pending {
  background: darkblue;
}

.in-progress {
  background: lightblue;
}
.option_div {
  position: absolute;
  bottom: 15px;
  right: 10px
}

.option_div .fa {
  font-size: 16px;
  margin: 6px;
  color: #fff
}

ul {
  padding: 0px;
  margin: 10px 0
}
li {
  list-style: none
}
.overlay {
  position: absolute;
  top: 0px;
  right:-38px;
  transition: opacity 500ms;
  z-index: 999999;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #e6e6e4;
  border-radius: 5px;
  width: 300px;
  height: 345px;
  position: relative;
  transition: all 5s ease-in-out;
  border: 1px solid #051832;
  h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #051832;
    &:hover {
      color: #06D85F;
    }
  }
}