<div class="col-md-3" *ngFor="let job of jobs;">
    <div class="overlay" *ngIf="jobDetailPopup && job.Email === jobDetail.Email">
        <div class="popup">
            <h2>{{jobDetail.Shipper}}</h2>
            <a class="close" href="javascript:void(0)" (click)="closeJobDetail()">&times;</a>
            <ul>
                <li>B.O.L {{jobDetail.BOL}}</li>
                <li>Phone: {{jobDetail.Phone}}</li>
                <li>Email: {{jobDetail.Email}}</li>
            </ul>
            <ul>
                <li>Driver: {{jobDetail.Driver}}</li>
                <li>Phone: {{jobDetail.DriverPhone}}</li>

            </ul>
        </div>
    </div>
    <div class="box" [ngClass]="{
    'non-Complient': job.Status == 'Non-Complient',
      'pending':job.Status == 'Pending',
      'in-progress':job.Status == 'In Progress',
           'assured': job.Status == 'Assured'}">
        <div (click)="openJobDetail(job)"><h4>{{job.Shipper}}</h4>
            <ul>
                <li>B.O.L {{job.BOL}}</li>
                <li>Phone: {{job.Phone}}</li>
                <li>Email: {{job.Email}}</li>
            </ul>
            <ul>
                <li>Driver: {{job.Driver}}</li>
                <li>Phone: {{job.DriverPhone}}</li>

            </ul>
        </div>
        <div class="option_div">
            <span><a href="javascript:void(0)" (click)="openJobHandler()"><i aria-hidden="true"
                                                                             class="fa fa-pencil"></i></a></span>
            <span>
                <a href="javascript:void(0)">
                <i aria-hidden="true" class="fa fa-trash" onclick="closeContact()">
                </i></a></span>
        </div>
    </div>
</div>
<sw-job-handler *ngIf="showJobHandlerPopup | async"></sw-job-handler>