<header id="header">
    <img src="images/logo.png"/>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="col-md-3 res_left no-padding">
                <h3>Welcome back , <span>Nick !</span></h3>
            </div>
            <div class="col-md-6 text-center res_left">
                <h3 *ngIf="jobViewActive | async">
                    <span>
                   <span class="date-arrow" (click)="previousDate()"><<</span>  <kendo-datepicker
                        [(value)]="value"
                        [format]="'MMMM dd yyyy'"></kendo-datepicker>
                        <span class="date-arrow" (click)="nextDate()">>></span>
                    </span>
                </h3>
                <h3>{{viewTitle | async}}</h3>
            </div>
            <div class="col-lg-3 text-right res_left no-padding">

                <ul class="dashboard_shortcut">
                    <li class="addjob" (click)="addNewJob()">
                        <button [routerLink]="['jobs']"></button>
                    </li>
                    <li class="search_short">
                        <div class="col-md-12  no-padding search-container" *ngIf="searching">
                            <input class="search" type="text" placeholder="Search ...">
                        </div>
                        <button (click)="toggleSearch()"></button>
                    </li>
                    <li class="group_short"><button [routerLink]="['/dashboard/shipper']"></button></li>
                    <li class="tv_short"><button></button></li>
                    <li class="setting_short"><button></button></li>
                    <li class="logout_short"><button></button></li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>
    <router-outlet></router-outlet>
</div>