.container {
  max-width: 1400px;
  margin: auto
}

#header img {
  width: 150px;
  margin: auto
}

#header {
  text-align: center;
  padding: 5px 0
}

h3 {
  font-size: 18px;
  color: #1f3763
}
ul {
  padding: 0px;
  margin: 10px 0;
}

.dashboard_shortcut li {
  display: inline-block;
  a {
    background: url(../../images/view_icon.jpg) no-repeat;
    height: 28px;
    width: 26px;
    background-size: 160px;
    margin-left: 5px;
    float: left;
  }
}
.logout_short a {
  background-position: -129px 0px !important;
}

.search_short a {
  background-position: -26px 0px !important
}

.group_short a {
  background-position: -52px 0px !important
}

.tv_short a {
  background-position: -79px 0px !important
}

.setting_short a {
  background-position: -104px 0px !important;
}

.logout_short a {
  background-position: -129px 0px !important;
}

hr {
  background: #1f3763;
  height: 1px;
  width: 100%;
  float: left;
}