.container {
  max-width: 1400px;
  margin: auto
}

#header img {
  width: 150px;
  margin: auto
}

#header {
  text-align: center;
  padding: 5px 0
}

h3 {
  font-size: 18px;
  color: #1f3763
}
ul {
  padding: 0px;
  margin: 10px 0;
}

.dashboard_shortcut li {
  display: inline-block;
  a {
    height:32px;
    width: 30px;
    margin-left: 5px;
    float: left;
    &:hover{
      opacity: .6;
    }
  }
}
.addjob a{
  background: url(../../images/plus-icon.jpg) no-repeat;
  background-size: 32px;

}

.search_short a {
  background: url(../../images/search-icon.jpg) no-repeat;
  background-size: 32px;
}

.group_short a {
  background: url(../../images/group-icon.jpg) no-repeat;
  background-size: 34px;
}

.tv_short a {
  background: url(../../images/tv-icon.jpg) no-repeat;
  background-size: 33px;
}

.setting_short a {
  background: url(../../images/setting-icon.jpg) no-repeat;
  background-size: 32px;
}

.logout_short a {
  background: url(../../images/logout-icon.jpg) no-repeat;
  background-size: 32px;
}

hr {
  background: #1f3763;
  height: 1px;
  width: 100%;
  float: left;
  margin: 0;
}