<header id="header">
    <img src="images/logo.png"/>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 res_left">
                <h3>Welcome back , <span>Nick !</span></h3>
            </div>
            <div class="col-md-6 text-center res_left">
                <h3><span><< October 18, 2017 >></span></h3>
            </div>
            <div class="col-lg-3 text-right res_left">

                <ul class="dashboard_shortcut">
                    <li class="plus_short" (click)="addNewJob()">
                        <a href="javascript:void(0)" [routerLink]="['jobs']"></a>
                    </li>
                    <li class="search_short"><a href="#"></a></li>
                    <li class="group_short"><a href="javascript:void(0)" [routerLink]="['/dashboard/shipper']"></a></li>
                    <li class="tv_short"><a href="#"></a></li>
                    <li class="setting_short"><a href="#"></a></li>
                    <li class="logout_short"><a href="#"></a></li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>
    <router-outlet></router-outlet>
</div>