/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  background: #fff;

}

ul {
  margin: 0px
}

a:hover, a {
  text-decoration: none
}
.no-padding{
  padding: 0!important;
}