<div class="overlay">
    <a class="close" href="javascript:void(0)" (click)="closeJobHandler()">&times;</a>
    <div class="popup">
        <form>
            <h1 class="text-center">Add Job</h1>
            <div class="form-group lading">
                <label>Bill of Lading :</label>
                <input type="text" class="form-control">
                <button (click)="openShipperPopup($event)">...</button>
                <div *ngIf="selectingShipper">
                    <button (click)="closeShipperPopup($event)">x</button>
                    <h1>Hello world</h1>
                </div>
            </div>

            <div class="form-group">
                <label>Organization :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Shipper :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Phone :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Email :</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Origin Address Line 1:</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Origin Address Line 2:</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Origin City :</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Origin State :</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Origin Zip code :</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group lading">
                <label>Bill of Lading :</label>
                <input type="text" class="form-control">
                <button (click)="openDriverPopup($event)">...</button>
                <div *ngIf="selectingDriver">
                    <button (click)="closeDriverPopup($event)">x</button>
                    <h1>Hello world</h1>
                </div>
            </div>
            <div class="footer-action">
                <span>Error message</span>
                <button type="submit" class="btn btn-default">Save</button>
                <button class="btn btn-link" (click)="closeJobHandler()">Cancel</button>
            </div>
        </form>
    </div>
</div>